In [1]:
import pandas as pd

/Users/stathis/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/stathis/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [23]:
train_path = 'Data/lucas0_text/lucas0_train.data'
test_path = 'Data/lucas0_text/lucas0_test.data'
targets_path = 'Data/lucas0_text/lucas0_train.targets'
param_path = 'Data/lucas0_text/lucas0.param'


column_names_targets = ['Lung_Cancer']  
column_names = [
    'Smoking',
    'Yellow_Fingers',
    'Anxiety',
    'Peer_Pressure',
    'Genetics',
    'Attention_Disorder',
    'Born_an_Even_Day',
    'Car_Accident',
    'Fatigue',
    'Allergy',
    'Coughing'
]


train = pd.read_csv(train_path, names= column_names,delimiter='\s+')
test = pd.read_csv(test_path)
targets = pd.read_csv(targets_path, names=column_names_targets)
param = pd.read_csv(param_path)

In [24]:
train

,Smoking,Yellow_Fingers,Anxiety,Peer_Pressure,Genetics,Attention_Disorder,Born_an_Even_Day,Car_Accident,Fatigue,Allergy,Coughing
0,0,0,1,0,0,1,0,1,0,1,0
1,0,1,0,0,0,0,1,0,1,0,1
2,1,1,1,0,1,1,1,1,1,1,1
3,0,0,0,1,0,0,1,0,0,0,0
4,1,1,1,0,0,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,0,0,1,1,0,1
1996,1,1,1,0,0,0,0,0,1,0,1
1997,1,1,0,1,0,0,1,0,1,0,0
1998,1,1,1,0,1,1,0,1,1,0,1
1999,1,1,0,1,0,0,0,0,1,1,1

In [22]:
targets

      Lung_Cancer
0              -1
1               1
2               1
3              -1
4               1
...           ...
1995            1
1996            1
1997            1
1998            1
1999            1

[2000 rows x 1 columns]